
  .home-section{
    margin: 120px 0px 0px 120px;
  }
  .home-wel p {
    margin: 0;
    font-size: 3rem; 
    font-weight: bold;
    
  }
  
  .home-wel-heading {
    margin-left: 10px; 
    font-size: 4rem; 
    font-weight: bold;
    color: green; 
  }
  .head{
    font-size: 40px; 
    font-weight: bold;
   
  }
  .head1{
    color: #088178;
    font-size: 40px; 
    font-weight: bold;
  }
  

  @media (max-width: 520px) {
    .home-section {
      margin: 40px 25px; 
    }
  
    .home-wel p {
      font-size: 2.5rem; 
    }
  
    .home-wel-heading {
      font-size: 3.1rem; 
    }
  
    .head {
      font-size: 3rem; 
    }
    .head1{
        font-size: 2.6rem; 
    }
  }